{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'chatgpt_connector/bootstrap-5.2.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'chatgpt_connector/style.css' %}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'chatgpt_connector/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'chatgpt_connector/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'chatgpt_connector/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'chatgpt_connector/favicon/site.webmanifest' %}">

  <!-- <script src="{% static 'chatgpt_connector/bootstrap-5.2.3/js/bootstrap.min.js' %}"></script> -->
  <script src="{% static 'chatgpt_connector/bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>

  <title>Online AI Image Generator | AImage</title>
</head>

<body>
  <header>
    {% include './navbar.html' %}
  </header>
  
  <!-- Login / Sign Up result messages -->
  {% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% for message in messages %}
      {% if message.tags == "error" %}
        <template id="errorMessage">
            <swal-title>Sign Up Failed</swal-title>
            <swal-icon type="error"></swal-icon>
            <swal-html>
              <br>
              <ul>
                {% for message in messages %}
                  <li style="text-align: left;"><b>{{ message }}</b></li>
                  <br>
                {% endfor %}
              </ul>
            </swal-html>
            <swal-button type="confirm">OK</swal-button>
        </template>

        <script>
          Swal.fire({
            template: "#errorMessage",
          });
        </script>
      {% elif message.extra_tags == "signup_success" %}
        <template id="signupMessage">
          <swal-title>Thanks for signing up!</swal-title>
          <swal-html>
            <p>Now you can enjoy our amazing features.</p>
          </swal-html>
          <swal-icon type="success"></swal-icon>
          <swal-button type="confirm">OK</swal-button>
        </template>

        <script>
          Swal.fire({
            template: "#signupMessage",
          });
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}

  <section class="intro">
    <div class="container p-5">
      <div class="row py-5">
        <div class="col-lg-6 py-5">
          <h1>Online AI Image Generator</h1>
          <h5 class="py-3">
            <p class="text-muted">Watch your words and phrases transform into beautiful images with Text to Image.</p>
          </h5>
          <a href="/generator" class="btn btn-primary">Generate AI Images »</a>
        </div>
        
        <div class="col-lg-6 py-5">
          <img src="{% static 'chatgpt_connector/images/ai_image.jpeg' %}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="how-to">
    <div class="container p-5">
      <h2>How to Generate an AI Image</h2>
      <div class="row py-4">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>1. Enter your text prompt</b></h3>
              <br>
              <p class="card-text">The more detailed the description, the more likely you are to get the result you want.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>2. Select a size</b></h3>
              <br>
              <p class="card-text">Generated images can have a size of <u>256x256</u>, <u>512x512</u>, or <u>1024x1024</u> pixels. <b>Smaller sizes are faster to generate</b>.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>3. Generate image</b></h3>
              <br>
              <p class="card-text">Click <b>Generate</b> button to begin the AI image creation process.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">&copy; 2023 AImage. All rights reserved.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>

</body>
</html>