{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'chatgpt_connector/bootstrap-5.2.3/css/bootstrap.min.css' %}">
  <script src="{% static 'chatgpt_connector/bootstrap-5.2.3/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'chatgpt_connector/bootstrap-5.2.3/js/bootstrap.bundle.js' %}"></script>

	<title>AI 이미지 생성기</title>
</head>
<body>
	<div class="bg-light card p-5">
		<h1>AI가 만들어주는 이미지</h1>
	</div>
	
	<div class="p-5">
    <div class="form-group py-4">
      <label class="form-label" for="imagePrompt">Description</label>
      <textarea class="form-control" id="imagePrompt" rows="1" placeholder="Descirbe a picture"></textarea>
    </div>

		<div class="dropdown py-4">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Choose a size
			</button>

			<ul class="dropdown-menu">
			  <li><a class="dropdown-item">256x256</a></li>
			  <li><a class="dropdown-item">512x512</a></li>
			  <li><a class="dropdown-item">1024x1024</a></li>
			</ul>
		</div>
	</div>

	<!-- <div class="form-group">
		<label class="form-label" for="imagePrompt">Size</label>
		<input type="radio" value="256x256"> 256x256
		<input type="radio" value="512x512"> 512x512
		<input type="radio" value="1024x1024"> 1024x1024
	</div> -->
	<!-- <div class="d-flex justify-content-center p-5">
		<form action="" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">이미지 만들기!</button>
		</form>
	</div> -->

</body>
</html>
